<ion-row class="full-height">
  <ion-col size-xs="12" size-md="10" offset-md="1" class="glob-margin-auto">
    <ion-card class="ion-no-margin">
      <ion-card-content class="ion-margin-top ion-margin-bottom">
        <ion-row>
          <ion-col size-xs="12" size-md="7">
            <ion-img [src]="imageUrl"></ion-img>
          </ion-col>
          <ion-col class="glob-margin-auto" size-xs="12" size-md="5">
            <h2 class="ion-text-center glob-text-bold glob-primary-text">
              {{ headerText }}
            </h2>
            <p class="ion-text-center">
              {{ descriptionText }}
            </p>
            <ion-row>
              <ion-col size="8" offset="2">
                <ion-button expand="block" (click)="openPage('/')">
                  <ion-icon name="arrow-back" slot="start"></ion-icon>
                  Dashboard
                </ion-button>
              </ion-col>
              <ion-col size="8" offset="2">
                <ion-button expand="block" (click)="openPage('/feedback')">
                  <ion-icon name="mail" slot="start"></ion-icon>
                  Send Feedback
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
