<ion-header *ngIf="!hideHeader">
  <ion-toolbar>
    <ion-title>
      Clipboard
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <div class="glob-container">
    <ion-row>
      <ion-col size-xs="12" size-md="4" push-md="8">
        <ion-card class="ion-margin-top sticky">
          <ion-card-header>
            <ion-card-title color="dark" class="glob-text-bold">New Clipboard</ion-card-title>
            <ion-card-subtitle color="medium">
              Give it a cool name!
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ng-container>
              <!-- Input-field-email -->
              <ion-item class="ion-no-padding">
                <ion-input type="text" [placeholder]="'Label your new clipboard'" [(ngModel)]="clipboardName" (keyup.enter)="createClipboard()"
                           [autofocus]="true" [required]="true" [clearInput]="true" name="email" label-placement="floating" fill="outline"></ion-input>
              </ion-item>
            </ng-container>
            <!-- create button -->
            <ion-col size="12" class="ion-no-padding ion-text-center">
              <ion-button class="ion-margin-top" size="small" (click)="createClipboard()" 
              [attr.color]="userDidCreate && createFail ? 'danger' : userDidCreate && createSuccess? 'success': 'primary'"
              [class.btn_center]="userDidCreate && (createFail || creationProcessLoading || createSuccess)"
              [disabled]="userDidCreate && createFail ? 'true' : userDidCreate && createSuccess? 'true': 'false'">
                <!-- login text -->
                <span *ngIf="!userDidCreate" class="ion-text-capitalize">Create Clipboard</span>
                <!-- loading -->
                <ion-icon *ngIf="!userDidCreate" name="add-circle-outline" slot="end"></ion-icon>
                <span *ngIf="userDidCreate && creationProcessLoading">
                  <ion-spinner name="dots"></ion-spinner>
                </span>
                <!-- 200 -->
                <span *ngIf="userDidCreate && createSuccess">
                  <ion-icon name="checkmark-circle-outline" slot="end"></ion-icon>
                </span>
                <!-- err -->
                <span *ngIf="userDidCreate && createFail">
                  <ion-icon name="close-circle-outline" slot="end"></ion-icon>
                </span>
              </ion-button>
            </ion-col>
          </ion-card-content>


          <ion-progress-bar color="success"
            [value]="1"></ion-progress-bar>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="8" pull-md="4">
        <ng-container *ngIf="(clipboard$ | async) as clipboards; else loadClipboard">
          <ng-container *ngIf="clipboards.length > 0; else noClipboard">
            <ng-container>
              <ion-card class="ion-margin-top" [ngClass]="!isLast ? 'ion-margin-bottom' : undefined">
                <ion-item-divider color="light" mode="md">
                  <ion-label color="dark" class="semester-title">
                    Clipboard(s)
                  </ion-label>
                </ion-item-divider>

                <ion-item *ngFor="let item of clipboards; let isLast = last" [lines]="isLast ? 'none' : 'full'"
                  detail="true" button="true" mode="md" (click)="openClipboard(item.id)">
                  <ion-label class="ion-text-wrap">
                    <h3>{{ item.title }}</h3>
                    <ion-row class="ion-no-padding">
                      <ion-col size="12" class="ion-no-padding col-padding">
                        <small>Created on <b>{{ item.created_on | date: "dd MMM yyyy - h:mm a" }}</b></small>
                      </ion-col>
                    </ion-row>
                  </ion-label>
                </ion-item>
              </ion-card>
            </ng-container>
          </ng-container>
          <ng-template #noClipboard>
            <ion-card class="ion-margin-top">
              <ion-card-content>
                <message-with-svg imageUrl="assets/img/empty.svg"
                  messageTitle="It's empty here!" wrapperSize="4" [advancedMode]="true">
                  <div class="flex-container ion-margin-top">
                    <h3 class="ion-text-center">Looks like you have no clipboards. Uh.. why not create a clipboard for fun?</h3>
                  </div>
                </message-with-svg>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ng-container>
        <ng-template #loadClipboard>
          <ion-card class="ion-margin-top">
            <ion-item-divider lines="none" color="light">
              <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            </ion-item-divider>

            <ion-item *ngFor="let _ of skeletons; let isLast = last" [lines]="isLast ? 'none' : 'full'">
              <ion-label>
                <ion-skeleton-text animated style="width: 40%; line-height: 15px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20%; line-height: 10px"></ion-skeleton-text>
              </ion-label>
            </ion-item>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
