ion-item {
    --highlight-color-valid: transparent;
  }
  
  h3 {
    font-weight: 600;
  }
  
  .semester-title {
    font-weight: 600;
  }
  
  .h-mobile-d-desktop {
    display: none;
  }
  
  ion-note {
    font-size: 13px;
  }
  
  .col-padding {
    padding: 0 5px 5px 0;
  }
  
  .medium-size-text {
    font-size: 15px;
  }
  
  // No Attendance UI Stylings
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .list-txt-color {
    color: var(--ion-color-tertiary);
  }
  
  @media (min-width: 768px) {
    // large screens => table settings
    .h-mobile-d-desktop {
      display: block;
      visibility: visible;
    }
  
    .h-desktop-d-mobile {
      display: none;
    }
  }
  