<ion-header *ngIf="!hideHeader">
  <ion-toolbar>
    <ion-title>
      Clipboard
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <div class="glob-container">
    <ion-row>
      <ion-col size-xs="12" size-md="4" push-md="8">
        <ion-card class="ion-no-margin ion-margin-top sticky">
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle color="medium" class="glob-text-bold">
              New Clipboard
            </ion-card-subtitle>
            <ng-container>
              <!-- Input-field-email -->
              <ion-item class="ion-no-padding">
                <ion-input type="text" [placeholder]="'Label your new Clipboard'" [(ngModel)]="clipboardName" (keyup.enter)="createClipboard()"
                           [autofocus]="true" [required]="true" name="email"></ion-input>
              </ion-item>
              <ng-template #loadBalance>
                <ion-card-title>
                  <ion-skeleton-text class="glob-margin-auto" animated style="line-height: 25px; width: 30%;">
                  </ion-skeleton-text>
                </ion-card-title>
              </ng-template>
            </ng-container>
            <ion-button class="ion-margin-top" size="small" (click)="createClipboard()">
            Create Clipboard
            <ion-icon slot="end" name="add-circle-outline"></ion-icon>
          </ion-button>
          </ion-card-header>
          <ion-progress-bar color="success"
            [value]="1"></ion-progress-bar>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="8" pull-md="4">
        <ng-container *ngIf="(clipboard$ | async) as clipboards; else loadClipboard">
          <ng-container *ngIf="clipboards.length > 0; else noClipboard">
            <ng-container>
              <ion-card class="ion-no-margin ion-margin-top" [ngClass]="!isLast ? 'ion-margin-bottom' : undefined">
                <ion-item-divider color="light" mode="md">
                  <ion-label color="primary" class="semester-title">
                    Clipboard(s)
                  </ion-label>
                </ion-item-divider>

                <ion-item *ngFor="let item of clipboards; let isLast = last" [lines]="isLast ? 'none' : 'full'"
                  detail="true" button="true" mode="md" (click)="attendanceDetails(module, selectedIntake)">
                  <ion-label class="ion-text-wrap">
                    <h3>{{ item.title }}</h3>
                    <ion-row class="ion-no-padding">
                      <ion-col size="12" class="ion-no-padding col-padding">
                        <small>Created: <b>{{ item.created_on | date: "dd MMM yyyy - HH:MM a" }}</b></small>
                      </ion-col>
                    </ion-row>
                  </ion-label>
                </ion-item>
              </ion-card>
            </ng-container>
          </ng-container>
          <ng-template #noClipboard>
            <ion-card class="ion-no-margin ion-margin-top">
              <ion-card-content>
                <message-with-svg imageUrl="assets/img/empty.svg"
                  messageTitle="It's empty here!" wrapperSize="4" [advancedMode]="true">
                  <div class="flex-container ion-margin-top">
                    <h3 class="ion-text-center">Looks like you have no clipboards. Uh.. why not create a clipboard for fun?</h3>
                  </div>
                </message-with-svg>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ng-container>
        <ng-template #loadClipboard>
          <ion-card class="ion-no-margin ion-margin-top">
            <ion-item-divider lines="none" color="light">
              <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            </ion-item-divider>

            <ion-item *ngFor="let _ of skeletons; let isLast = last" [lines]="isLast ? 'none' : 'full'">
              <ion-label>
                <ion-skeleton-text animated style="width: 40%; line-height: 15px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20%; line-height: 10px"></ion-skeleton-text>
              </ion-label>
            </ion-item>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
