@mixin light-theme {
  .md,
  .ios {
    --ion-background-color: #f8f8f8;
    --ion-background-color-rgb: 248, 248, 248;
    --ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;
    --ion-toolbar-background: #ffffff;
    --ion-tab-bar-background: #ffffff;
    --ion-tab-bar-color: var(--ion-text-color);
    --ion-border-color: #e4e4e4;
    --ion-item-background: #ffffff;

    --ion-color-step-50: #f3f3f3;
    --ion-color-step-100: #e8e8e8;
    --ion-color-step-150: #dcdcdc;
    --ion-color-step-200: #d1d1d1;
    --ion-color-step-250: #c5c5c5;
    --ion-color-step-300: #b9b9b9;
    --ion-color-step-350: #aeaeae;
    --ion-color-step-400: #a2a2a2;
    --ion-color-step-450: #979797;
    --ion-color-step-500: #8b8b8b;
    --ion-color-step-550: #7f7f7f;
    --ion-color-step-600: #747474;
    --ion-color-step-650: #686868;
    --ion-color-step-700: #5d5d5d;
    --ion-color-step-750: #515151;
    --ion-color-step-800: #454545;
    --ion-color-step-850: #3a3a3a;
    --ion-color-step-900: #2e2e2e;
    --ion-color-step-950: #232323;

    /** success **/
    --ion-color-success: #42ba96;
    --ion-color-success-rgb: 66, 186, 150;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    /** warning **/
    --ion-color-warning: #f1c92b;
    --ion-color-warning-rgb: 241, 201, 43;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #e04a5a;
    --ion-color-danger-rgb: 223, 71, 89;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #c5414f;
    --ion-color-danger-tint: #e35c6b;

    /** medium **/
    --ion-color-medium: #808080;
    --ion-color-medium-rgb: 128, 128, 128;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808080;
    --ion-color-medium-tint: #8c8c8c;

    /** light **/
    --ion-color-light: #d4d4d4;
    --ion-color-light-rgb: 212, 212, 212;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #bababa;
    --ion-color-light-tint: #e0e0e0;

    /** dark **/
    --ion-color-dark: #2b2b2b;
    --ion-color-dark-rgb: 43, 43, 43;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #212121;
    --ion-color-dark-tint: #383838;
  }
}

@mixin dark-theme {
  .md,
  .ios {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #252525;
    --ion-item-background: #191919;
    --ion-toolbar-background: #191919;
    --ion-tab-bar-background: #191919;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    /** success **/
    --ion-color-success: #06c288;
    --ion-color-success-rgb: 49, 186, 66;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    /** warning **/
    --ion-color-warning: #f1c92b;
    --ion-color-warning-rgb: 241, 201, 43;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #e04a5a;
    --ion-color-danger-rgb: 223, 71, 89;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #c5414f;
    --ion-color-danger-tint: #e35c6b;

    /** medium **/
    --ion-color-medium: #808080;
    --ion-color-medium-rgb: 128, 128, 128;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808080;
    --ion-color-medium-tint: #8c8c8c;

    /** light **/
    --ion-color-light: #2b2b2b;
    --ion-color-light-rgb: 43, 43, 43;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #212121;
    --ion-color-light-tint: #383838;

    /** dark **/
    --ion-color-dark: #d4d4d4;
    --ion-color-dark-rgb: 212, 212, 212;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #bababa;
    --ion-color-dark-tint: #e0e0e0;
  }
}

@mixin blue-theme {
  /** primary **/
  --ion-color-primary: #2a83ff;
  --ion-color-primary-rgb: 42, 131, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2573e0;
  --ion-color-primary-tint: #3f8fff;

  /** secondary **/
  --ion-color-secondary: #3c2aff;
  --ion-color-secondary-rgb: 60, 42, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3525e0;
  --ion-color-secondary-tint: #503fff;

  /** tertiary **/
  --ion-color-tertiary: #2aeeff;
  --ion-color-tertiary-rgb: 42, 238, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #25d1e0;
  --ion-color-tertiary-tint: #3ff0ff;
}

@mixin purple-theme {
  /** primary **/
  --ion-color-primary: #6d54d4;
  --ion-color-primary-rgb: 109, 84, 212;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #604abb;
  --ion-color-primary-tint: #7c65d8;

  /** secondary **/
  --ion-color-secondary: #ad54d4;
  --ion-color-secondary-rgb: 173, 84, 212;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #984abb;
  --ion-color-secondary-tint: #b565d8;

  /** tertiary **/
  --ion-color-tertiary: #547bd4;
  --ion-color-tertiary-rgb: 66, 52, 199;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4a6cbb;
  --ion-color-tertiary-tint: #6588d8;
}

@mixin pink-theme {
  /** primary **/
  --ion-color-primary: #de6a62;
  --ion-color-primary-rgb: 222, 106, 98;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #bf485f;
  --ion-color-primary-tint: #dd637b;

  /** secondary **/
  --ion-color-secondary: #dea862;
  --ion-color-secondary-rgb: 222, 168, 98;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #c39456;
  --ion-color-secondary-tint: #e1b172;

  /** tertiary **/
  --ion-color-tertiary: #de6298;
  --ion-color-tertiary-rgb: 222, 98, 152;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #c35686;
  --ion-color-tertiary-tint: #e172a2;
}

@mixin orange-theme {
  /** primary **/
  --ion-color-primary: #ff8b33;
  --ion-color-primary-rgb: 255, 139, 51;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e07a2d;
  --ion-color-primary-tint: #ff9747;

  /** secondary **/
  --ion-color-secondary: #fff133;
  --ion-color-secondary-rgb: 255, 241, 51;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0d42d;
  --ion-color-secondary-tint: #fff247;

  /** tertiary **/
  --ion-color-tertiary: #ff3341;
  --ion-color-tertiary-rgb: 255, 51, 65;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #e02d39;
  --ion-color-tertiary-tint: #ff4754;
}

@mixin grey-theme {
  /** primary **/
  --ion-color-primary: #669299;
  --ion-color-primary-rgb: 102, 146, 153;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5a8087;
  --ion-color-primary-tint: #759da3;

  /** secondary **/
  --ion-color-secondary: #667999;
  --ion-color-secondary-rgb: 102, 121, 153;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5a6a87;
  --ion-color-secondary-tint: #7586a3;

  /** tertiary **/
  --ion-color-tertiary: #669987;
  --ion-color-tertiary-rgb: 102, 153, 135;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5a8777;
  --ion-color-tertiary-tint: #75a393;
}

// fallback if prefers-color-scheme is not recognized
:root {
  @include light-theme;
}

// by media queries
@media (prefers-color-scheme: no-preferences), (prefers-color-scheme: light) {
  :root {
    @include light-theme;

    .blue {
      @include blue-theme;
    }

    .purple {
      @include purple-theme;
    }

    .pink {
      @include pink-theme;
    }

    .orange {
      @include orange-theme;
    }

    .grey {
      @include grey-theme;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;

    .blue {
      @include blue-theme;
    }

    .purple {
      @include purple-theme;
    }

    .pink {
      @include pink-theme;
    }

    .orange {
      @include orange-theme;
    }

    .grey {
      @include grey-theme;
    }
  }
}

// user specified
:root .light {
  @include light-theme;

  &.blue {
    @include blue-theme;
  }

  &.purple {
    @include purple-theme;
  }

  &.pink {
    @include pink-theme;
  }

  &.orange {
    @include orange-theme;
  }

  &.grey {
    @include grey-theme;
  }
}

:root .dark {
  @include dark-theme;

  &.blue {
    @include blue-theme;
  }

  &.purple {
    @include purple-theme;
  }

  &.pink {
    @include pink-theme;
  }

  &.orange {
    @include orange-theme;
  }

  &.grey {
    @include grey-theme;
  }
}

ion-card {
  border-radius: 15px !important;
  box-shadow: rgb(0 0 0 / 6%) 0 3px 1px -2px, rgb(0 0 0 / 6%) 0 2px 2px 0, rgb(0 0 0 / 6%) 0 1px 5px 0 !important;
}

ion-button {
  text-transform: capitalize !important;
  --border-radius: 10px !important;
  font-weight: normal;
  --box-shadow: none !important;
}

